/* GENERAL */

html {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;    
}

body{
    background-color: lightgray;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

p{
    color: white;
    font-family: 'Kufam', cursive;
    font-weight: 400;
}

/* ====================================================================== */

/* NAVIGATION */

/* navbar color black */
.navbar{
    background-color: black;
}

/* navbar brand formatting */
.navbar-brand {
    color: white;
    font-family: 'Kufam', cursive;
    font-weight: 600;
    font-size: 35px;
    padding: 10px 0px;
}

/* menu font formatting */
.nav-item{
    font-family: 'Kufam', cursive;
    font-weight: 400;
}

/* ====================================================================== */

/* MAIN */

/* General formatting */
main {
    margin-bottom: 100px; /*to compensate for sticky footer*/
}
section, .row {
    margin: 0px;
    padding: 0px;
}

/* -------------------------------------------------------- */

/* About Me */
h1{
    color: white;
    font-family: 'Kufam', cursive;
    font-weight: 600;
    font-size: x-large;
}

section {
    position: relative;
    animation: fadeInUp 2s;
}

#aboutme{
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: black;
    padding: 0px 60px 20px 60px;
    position: relative;
    animation: fadeInDown 2s;
}

#aboutme hr{
    background-color: white;
}

/* -------------------------------------------------------- */

/* Skills */
.logo{
   margin: 10px auto;
}

/* -------------------------------------------------------- */

/* Animation */
@keyframes fadeInDown {
    from {opacity: 0;
          top: -100px;}
    to {opacity: 1;
        top: 0px;}
}

@keyframes fadeInUp {
    from {opacity: 0;
          top: 100px;}
    to {opacity: 1;
        top: 0px;}
}

/* ====================================================================== */

/* FOOTER */

footer { /* sticky footer css from bootstrap https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
    text-align: center;
}

h5 {
    color: white;
    font-family: 'Kufam', cursive;
    font-weight: 400;
    font-size: 20px;
}