/* GENERAL */

html {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;    
}

body{
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

h1{
    color: white;
    font-family: 'Barlow';
    font-size: x-large;
}

h2{
    color: black;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: x-large;
}

p{
    color: white;
    font-family: 'Barlow';
    font-size: 12pt;
}

.row {
    margin: none;
    padding: none;
}

/* ====================================================================== */

/* NAVIGATION */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#spacer{
    height: 95px;
}

/* navbar color */
.navbar{
    background-image: linear-gradient(to right, rgb(1, 21, 112), rgb(1, 98, 143));
}

/* navbar brand formatting */
.navbar-brand {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 40px;
    padding: 10px 0px;
}

/* menu font formatting */
.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* ====================================================================== */

/* MAIN */

/* General formatting */
main {
    margin-bottom: 50px; /*to compensate for sticky footer*/
}
section{
    margin: 0px;
    padding: 30px;
}

/* -------------------------------------------------------- */

/* About Me */

section {
    position: relative;
    animation: fadeInUp 2s;
}

#aboutme{
    position: relative;
    animation: fadeInDown 2s;
    background-image: linear-gradient(to right, rgb(1, 21, 112), rgb(1, 98, 143));
}

#aboutme hr{
    background-color: white;
}

#aboutText{
   margin: auto 0px;
}

#me{
    text-align: right;
}

#me img{
    width: 100%;
    border-radius: 50%;
}

/* -------------------------------------------------------- */

/* Skills */
.icon{
    width: 60px;
    padding: 5px;
    margin-right: 5px;
}

main p{
    color: black;
}

.textCont{
    padding: 30px;
}

#devLogos{
    margin: auto;
    text-align: center;
}

#devLogos img{
    display: inline;
    width: 100px;
}

#pmLogos{
    margin: auto;
    text-align: center;
}

#pmLogos img{
    max-width: 200px;
    padding: 10px;
}

/* -------------------------------------------------------- */

/* Portfolio */

.portfolioItem:nth-child(even) {
    background-image: linear-gradient(to right, rgba(22, 67, 119, 0.5), rgba(8, 85, 156, 0.3));
  }

.portfolioItem div{
    margin: auto
}

.portfolioItem img{
    width: 100%;
    padding: 20px;
}
.portfolioItem h2{
display: inline;
}

.portfolioItem h3{
    padding: 10px;
    font-size: 10pt;
    color: gray;
    display: inline;
}
.portfolioItem h3 a{
    font-size: 10pt;
    color: gray;
}

.portfolioItem li{
    font-family: 'Barlow';
    font-size: 12pt;
}

/* -------------------------------------------------------- */

/* Contact */

.contact{
    text-align: center;
}

/* -------------------------------------------------------- */

/* Animation */
@keyframes fadeInDown {
    from {opacity: 0;
          top: -100px;}
    to {opacity: 1;
        top: 0px;}
}

@keyframes fadeInUp {
    from {opacity: 0;
          top: 100px;}
    to {opacity: 1;
        top: 0px;}
}

/* ====================================================================== */

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, rgb(1, 21, 112), rgb(1, 98, 143));
    text-align: center;
    padding: 10px;
}

h5 {
    color: white;
    font-family: 'Barlow';
    font-size: 20px;
}

.social {
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 5px;;
}

@media only screen and (max-width: 992px) {
   #me{
    margin-right: 0px;
    text-align: center;
    }
    .portfolioItem div{
        text-align: center;
    }
    .portfolioItem h2{
        display: block;
        }
    
    .portfolioItem h3{
        display: block;
    }

    .portfolioItem ul {
        list-style-position: inside;
    }
}

@media only screen and (max-width: 767px) {
   #aboutme{
    text-align: center;
    padding: 20px;
   }
   #me{
    text-align: center;
    margin-bottom: 30px;
   }
   #me img{
    width: 250px;
   }

   .portfolioItem ul {
    text-align: left;
    }
  }